$color-black: #000000;
$color-white: #ffffff;
$color-shark: #1d2127;
$color-tuna: #34373d;
$color-waterloo: #808697;
$color-roman: #db6574;
$color-gallery: #efefef;
$color-oslo-gray: #8a8d93;
$color-pale-sky: #6c757d;
$color-rolling-stone: #727b84;
$color-cabaret: #d44658;
$color-brick-red: #d13c4f;

$color-cod-gray: #1e1e1e;
$color-mine-shaft: #2d2d2d;
$color-river-bed: #495b5c;