@import './variable';

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "open sans", Arial, sans-serif;
  background: $color-shark;
  color: $color-waterloo;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  color: $color-waterloo;
  text-decoration: underline
}

h2 {
  font-size: 18px
}
